---
# FOR DEVELOPMENT ONLY
services:
  crdb:
    image: "cockroachdb/cockroach:v25.2.0"
    command: "start-single-node --insecure --accept-sql-without-tls"
    restart: "unless-stopped"
    ports:
      - "26257:26257" # SQL
      - "8080:8080" # Admin UI
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health?ready=1"]
      interval: "3s"
      timeout: "3s"
      retries: 5
  crdb-init:
    image: "cockroachdb/cockroach:v25.2.0"
    depends_on:
      crdb:
        condition: "service_healthy"
    command: >
      sql --insecure --host=crdb:26257 -e "SET CLUSTER SETTING kv.rangefeed.enabled = true;"
    restart: "on-failure"
  migrate:
    depends_on:
      crdb-init:
        condition: "service_completed_successfully"
    build: "."
    container_name: "migrate"
    environment:
      - "SPICEDB_DATASTORE_ENGINE=cockroachdb"
      - "SPICEDB_DATASTORE_CONN_URI=postgresql://root@crdb:26257/defaultdb?sslmode=disable"
    command: "datastore migrate head"
    networks:
      - "default"
  spicedb:
    build: "."
    command: "serve"
    restart: "no"
    scale: 5
    ports:
      - "9090" # prometheus metrics
      - "50051" # grpc endpoint
      - "8443" # http endpoint
      - "50053" # dispatch endpoint
    environment:
      - "SPICEDB_LOG_FORMAT=json"
      - "SPICEDB_LOG_LEVEL=info"
      - "SPICEDB_HTTP_ENABLED=true"
      - "SPICEDB_GRPC_PRESHARED_KEY=foobar"
      - "SPICEDB_DATASTORE_ENGINE=cockroachdb"
      - "SPICEDB_DATASTORE_CONN_URI=postgresql://root@crdb:26257/defaultdb?sslmode=disable"
      - "SPICEDB_DISPATCH_CLUSTER_ENABLED=true"
      - "SPICEDB_DISPATCH_UPSTREAM_ADDR=spicedb:50053"
      - "SPICEDB_OTEL_PROVIDER=otlpgrpc"
      - "SPICEDB_OTEL_SAMPLE_RATIO=1"
      - "SPICEDB_TELEMETRY_ENDPOINT="
      - "SPICEDB_GRPC_LOG_REQUESTS_ENABLED=false"
      - "SPICEDB_GRPC_LOG_RESPONSES_ENABLED=false"
      - "SPICEDB_STREAMING_API_RESPONSE_DELAY_TIMEOUT=0s"
      - "OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317"
      - "SPICEDB_DATASTORE_CONN_POOL_READ_MAX_OPEN=5"
      - "SPICEDB_DATASTORE_CONN_POOL_READ_MIN_OPEN=5"
      - "SPICEDB_DATASTORE_CONN_POOL_WRITE_MAX_OPEN=5"
      - "SPICEDB_DATASTORE_CONN_POOL_WRITE_MIN_OPEN=5"
      - "SPICEDB_EXPERIMENTAL_LOOKUP_RESOURCES_VERSION=lr3"
    depends_on:
      migrate:
        condition: "service_completed_successfully"
      otel-collector:
        condition: "service_started"
    healthcheck:
      test: ["CMD", "/bin/grpc_health_probe", "-addr=spicedb:50051"]
      interval: "5s"
      timeout: "30s"
      retries: 3
  envoy:
    image: "envoyproxy/envoy:v1.33-latest"
    command: "-c /etc/envoy/envoy.yaml"
    volumes:
      - "./development/envoy.yaml:/etc/envoy/envoy.yaml"
    ports:
      - "50051:50051" # gRPC
      - "8443:8443" # HTTP
      - "9901:9901" # Envoy admin
    depends_on:
      spicedb:
        condition: "service_healthy"
    restart: "unless-stopped"
  prometheus:
    image: "prom/prometheus:latest"
    command:
      - "--config.file=/etc/prometheus/prometheus.yaml"
      - "--storage.tsdb.path=/prometheus"
    volumes:
      - "./development/prometheus.yaml:/etc/prometheus/prometheus.yaml"
    ports:
      - "9091:9090" # Prometheus UI
    restart: "unless-stopped"
  otel-collector:
    image: "otel/opentelemetry-collector:latest"
    command: "--config /etc/otel-config.yaml"
    volumes:
      - "./development/otel-config.yaml:/etc/otel-config.yaml"
    ports:
      - "4317:4317" # OTLP gRPC
      - "8888" # Prometheus metrics for collector
    depends_on:
      - "tempo"
  loki:
    image: "grafana/loki:latest"
    command: "-config.file=/etc/loki/loki.yaml"
    volumes:
      - "./development/loki.yaml:/etc/loki/loki.yaml"
    ports:
      - "3100" # Loki API
    restart: "unless-stopped"
  promtail:
    image: "grafana/promtail:latest"
    command: "-config.file=/etc/promtail/promtail.yaml"
    user: root
    volumes:
      - "./development/promtail.yaml:/etc/promtail/promtail.yaml"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"
    depends_on:
      - "loki"
      - "envoy"
    restart: "unless-stopped"
  tempo:
    image: "grafana/tempo:latest"
    command: "-config.file=/etc/tempo.yaml"
    volumes:
      - "./development/tempo.yaml:/etc/tempo.yaml"
    restart: "unless-stopped"
    ports:
      - "4317" # OTLP gRPC
      - "3100" # tempo
  grafana:
    image: "grafana/grafana:latest"
    volumes:
      - "./development/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources"
      - "./development/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards"
      - "./development/grafana/dashboards:/etc/grafana/dashboards"
    environment:
      - "GF_AUTH_ANONYMOUS_ENABLED=true"
      - "GF_AUTH_ANONYMOUS_ORG_ROLE=Admin"
      - "GF_AUTH_DISABLE_LOGIN_FORM=true"
    ports:
      - "3000:3000" # UI
    depends_on:
      - "tempo"
      - "prometheus"
      - "loki"
