---
name: "Pull Request Labeler"
on:  # yamllint disable-line rule:truthy
  - "pull_request_target"
jobs:
  triage:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
