---
name: "Lint"
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - "!dependabot/*"
      - "main"
  pull_request:
    branches: ["*"]
  merge_group:
    types:
      - "checks_requested"
permissions:
  contents: "read"
jobs:
  go-license-check:
    name: "License Check"
    runs-on: "depot-ubuntu-24.04-small"
    steps:
      - uses: "actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493" # v4.2.2
      - uses: "authzed/actions/setup-go@6cde6aeb82fab36d8383c2f55bed8128955af34d" # main
      - name: "Check Licenses"
        uses: "authzed/actions/go-license-check@11667c9b2e8b3649ad2af4d788e57d18f8e8eaf1" # main
        with:
          ignore: "buf.build" # Has no license information
  ensure-docs-uptodate:
    name: "Ensure Docs are up to date"
    runs-on: "depot-ubuntu-24.04-4"
    steps:
      - uses: "actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493" # v4.2.2
      - uses: "authzed/actions/setup-go@6cde6aeb82fab36d8383c2f55bed8128955af34d" # main
      - name: "Generate docs"
        run: "go run mage.go gen:docs"
      - uses: "chainguard-dev/actions/nodiff@1b32103f5aa389c31ab0be75a8edc38d7e4750d8" # main
        with:
          path: ""
          fixup-command: "mage gen:docs"
  lint-everything:
    name: "Lint Everything"
    runs-on: "depot-ubuntu-24.04-4"
    steps:
      - uses: "actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493" # v4.2.2
      - uses: "authzed/actions/setup-go@6cde6aeb82fab36d8383c2f55bed8128955af34d" # main
      - name: "Lint Everything"
        run: "go run mage.go lint:all"
      - uses: "chainguard-dev/actions/nodiff@1b32103f5aa389c31ab0be75a8edc38d7e4750d8" # main
        with:
          path: ""
          fixup-command: "go run mage.go lint:all"

  conventional-commits:
    name: "Lint Commit Messages"
    runs-on: "depot-ubuntu-24.04-small"
    if: "github.event_name == 'pull_request' && (github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened' || github.event.action == 'edited')"
    steps:
      - uses: "actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493" # v4.2.2
      - uses: "webiny/action-conventional-commits@v1.3.0"
