---
name: "Release"

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

permissions:
  contents: "write"
  packages: "write"
env:
  GO_VERSION: "~1.20.4"
jobs:
  goreleaser:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
        with:
          fetch-depth: 0
      - run: git tag ${{ inputs.tag }}
      - uses: "actions/setup-go@v3"
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache: "true"
      - name: "Run Go Mod Download"
        shell: "bash"
        run: "go mod download"
      - uses: "docker/login-action@v2"
        with:
          registry: "ghcr.io"
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"
      - uses: "docker/setup-qemu-action@v1"
      - uses: "docker/setup-buildx-action@v1"
      - uses: "goreleaser/goreleaser-action@v4"
        with:
          version: "latest"
          args: "release --clean"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
