---
name: "Build WASM"
on:  # yamllint disable-line rule:truthy
  release:
    types: ["created"]
permissions:
  contents: "write"
env:
  GO_VERSION: "~1.19.4"
jobs:
  build:
    name: "Build WASM"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
        with:
          ref: "${{ env.GITHUB_SHA }}"
      - uses: "authzed/actions/setup-go@main"
        with:
          go-version: "${{ env.GO_VERSION }}"
      - run: |
          echo "Building WASM..."
          GOOS=js GOARCH=wasm go build  -o dist/development.wasm ./pkg/development/wasm/...
          echo "Build complete"
      - uses: "shogo82148/actions-upload-release-asset@v1"
        with:
          upload_url: "${{ github.event.release.upload_url }}"
          asset_path: "dist/*"
