---
name: "Build WASM"
on: # yamllint disable-line rule:truthy
  release:
    types: ["created"]
permissions:
  contents: "read"
jobs:
  build:
    name: "Build WASM"
    runs-on: "depot-ubuntu-24.04-small"
    permissions:
      contents: "write"
    steps:
      - uses: "actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5" # v4.2.2
        with:
          ref: "${{ env.GITHUB_SHA }}"
      - uses: "authzed/actions/setup-go@6cde6aeb82fab36d8383c2f55bed8128955af34d" # main
      - name: "Build WASM"
        run: "go run mage.go build:wasm"
      - uses: "shogo82148/actions-upload-release-asset@59cbc563d11314e48122193f8fe5cdda62ea6cf9" # v1.9.1
        with:
          upload_url: "${{ github.event.release.upload_url }}"
          asset_path: "dist/*"
